// colors
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-text-black: #000;
$color-text-white: #ffffff;
$color-text-gray: #cdcdcd;

//paddings
$padding-button: 15px 45px;

//margins
$margin-center: 0 auto;

//border-radius
$border-radius-button: 100px;

//widths
$max-width-1200: 1200px;
