// colors
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-background-gray: #f6f6f6;
$color-background-white: #ffffff;
$color-background-snow: #fafafa;
$color-text-black: #545454;
$color-text-dark: #292929;
$color-text-white: #ffffff;
$color-text-gray: #cdcdcd;
$color-text-graphite: #545454;
$color-text-dark-m: #b2b2b2;

//paddings
$padding-button: 15px 45px;
$padding-animals: 15px 0;
$padding-center: 80px 0 100px;
$padding-center-pets: 70px 0 100px;
$padding-center-mobile: 42px 0 42px;
$padding-donation: 10px 15px;
$padding-footer: 20px;

//margins
$margin-center: 0 auto;

//border-radius
$border-radius-button: 100px;
$border-radius-donation: 9px;

//widths
$max-width-1200: 1200px;
$max-width-708: 708px;
$max-width-300: 300px;
$max-width-280: 280px;

//media
$tablet: 768px;
$mobile: 320px;

//overflow
$overflow: hidden;
