// colors
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-background-gray: #f6f6f6;
$color-background-white: #ffffff;
$color-text-black: #000;
$color-text-white: #ffffff;
$color-text-gray: #cdcdcd;
$color-text-graphite: #545454;

//paddings
$padding-button: 15px 45px;

//margins
$margin-center: 0 auto;
$margin-sections: 80px auto 100px auto;

//border-radius
$border-radius-button: 100px;

//widths
$max-width-1200: 1200px;
