.start-screen-wrapper {
  background-image:
    linear-gradient(to right, #5b483a, #262425, #211f20),
    url(/shelter/img/noise_transparent.jpg);
}
.header {
  .header__container {
    max-width: $max-width-1200;
    padding-top: 30px;
    margin: $margin-center;
    @include flex($justify: space-between, $gap: 0);
    .header__logo {
      @include flex($flex: column);
      text-decoration: $text-decoration;
      .header__title {
        @include font("h3");
        color: $color-primary;
      }
      .header__subtitle {
        font-family: $font-family-subtitle;
        font-weight: $font-weight;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: $color-text-white;
      }
      ::first-letter {
        text-transform: $text-transform;
      }
    }
  }
}

.startscreen {
  .startscreen__content {
    max-width: $max-width-1200;
    margin: 68px auto 0 auto;
    @include flex($justify: space-between, $gap: 42px);
  }
  .startscreen__information {
    @include flex(
      $justify: space-between,
      $align: start,
      $gap: 42px,
      $flex: column
    );
    .startscreen__heading {
      @include font("h2");
      color: $color-text-white;
    }
    ::first-letter {
      text-transform: $text-transform;
    }
    .startscreen__subheading {
      @include font("h5");
      color: $color-text-gray;
    }
    .startscreen__button {
      @include font("button");
      color: $color-text-black;
      text-decoration: $text-decoration;
      padding: $padding-button;
      background-color: $color-primary;
      border-radius: $border-radius-button;
      &:hover {
        transition: background-color 0.3s ease;
        background-color: $color-primary-light;
      }
    }
  }
}
