section {
  margin: 0;
}

.main__content {
  max-width: $max-width-1200;
  margin: $margin-center;
}
::first-letter {
  text-transform: $text-transform;
}
.main__title {
  @include font("h3");
  color: $color-text-graphite;
}

.about {
  padding: $padding-center;
  background-color: $color-background-white;
  .about__content {
    @include flex($gap: 120px);
    .about__information {
      max-width: 430px;
      @include flex($align: start, $flex: column, $gap: 25px);
    }
    .about__subheading {
      color: $color-text-dark;
      @include font("h5");
    }
  }
}

.pets {
  padding: $padding-center;
  background-color: $color-background-gray;
  .pets__content {
    @include flex($flex: column, $gap: 60px);
    .pets__heading {
      text-align: $text-align;
    }
    .pets__button {
      @include font("button");
      color: $color-text-dark;
      text-decoration: $text-decoration;
      padding: $padding-button;
      background-color: $color-primary;
      border-radius: $border-radius-button;
      &:hover {
        transition: background-color 0.3s ease;
        background-color: $color-primary-light;
      }
    }
  }
}

.help {
  padding: $padding-center;
  background-color: $color-background-white;
  .help__content {
    @include flex($flex: column, $gap: 60px);
    .help__heading {
      text-align: $text-align;
    }
    .help__lists {
      @include flex($gap: 55px 120px);
      .help__list {
        @include flex($flex: column, $gap: 30px);
        .help__list_text {
          @include font("h4");
          color: $color-text-black;
        }
      }
    }
  }
}

.donation {
  padding: 90px 0 90px;
  background-color: $color-background-gray;
  .donation__content {
    @include flex($gap: 30px);
    .donation__description {
      @include flex($flex: column, $align: start, $gap: 20px);
      max-width: 380px;
      .donation__subheading {
        font-family: $font-family-title;
        font-weight: $font-weight;
        font-size: $font-size-h5;
        letter-spacing: $letter-spacing;
        color: $color-text-black;
        line-height: 110%;
      }
      .donation__credit {
        background-color: $color-primary;
        border-radius: $border-radius-donation;
        padding: $padding-donation;
        max-width: 349px;
        width: 100%;
      }
      .donation__information {
        font-family: $font-family-subtitle;
        font-weight: $font-weight;
        font-style: $font-style;
        font-size: 12px;
        color: $color-text-dark-m;
        line-height: 150%;
      }
    }
  }
}
