.nav {
  .nav__items {
    @include flex($justify: space-between, $gap: 35px);
    .is-active {
      color: $color-text-white;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        transition: background-color 0.3s ease;
        background-color: $color-primary;
      }
    }
  }
  .nav__link {
    font-family: $font-family-subtitle;
    font-weight: $font-weight;
    font-size: $font-size-h5;
    line-height: 160%;
    color: $color-text-gray;
    text-decoration: $color-text-white;
    &:hover {
      transition: color 0.3s ease;
      color: $color-text-white;
    }
    &:active {
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        transition: background-color 0.3s ease;
        background-color: $color-primary;
      }
    }
  }
  ::first-letter {
    text-transform: $text-transform;
  }
}
